.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
  padding: 2rem 4rem;
}

.newTransaction {
  width: 100%;
}

.newTransaction h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.newTransaction form {
  font-size: 1.16rem;
  margin-left: 5rem;
}

.newTransaction form .formGroup {
  margin: 1rem 0;
}

.newTransaction form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid blue;
  outline: none;
  font-size: 1.2rem;
}

.newTransaction form input,
.newTransaction form select {
  padding: 0.2rem 0.6rem;
}

.newTransaction form button {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1rem;
}
