.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
  padding: 2rem 4rem;
}

.extract {
  flex: 1;
}

.extract h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.withoutTransactions {
  color: red;
}

.extract ul {
  padding-bottom: 2rem;
}
