.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
  padding: 2rem 4rem;
}

.transactions p:first-child {
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem 0;
}

.transactions .saldo {
  text-align: right;
  font-size: 1.3rem;
  color: green;
  margin-top: 2rem;
}
