.header {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  background-color: #e2e8f0;
  padding: 0.7rem 2rem;
}

.header nav {
  display: flex;
  gap: 1.6rem;
}

.header nav a {
  cursor: pointer;
}

.header nav a.active {
  color: green;
}

.header nav a.logout {
  font-weight: bold;
  color: blue;
}
